<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <commonHeader id = "commonHeader" th:fragment = "commonHeader">
        <div id = "headerWrapper" class = "headerWrapper">
            <div id = "headerArea1" class = "commonHeaderAttr headerComp1">
                <img alt = "이미지 영역"/>
            </div>

            <!-- 검색, 베너 등 영역 -->
            <div id = "headerArea2" class = "commonHeaderAttr headerComp2">
                <img class = "whatImg" src = "images/what.png">
                <div class="mb-3">
                    <input type = "input" id = "searchQuery" class = "form-control searchBox" placeholder = "">
                </div>
            </div>

            <!-- 로그인, 회원가입 등 영역 -->
            <div id = "headerArea3" class = "commonHeaderAttr headerComp3">
                영역3
            </div>
        </div>
    </commonHeader>
</body>
</html>