/*
    상단 공용 Header Layout
*/
.headerWrapper {
    position : fixed;
    width : 100%;
    height : 15%;
    box-shadow : 0 1px 5px 1px gray;
    padding-top : 8px;
}

.commonHeaderAttr {
    display : inline-block;
}

/*************************** 로고 영역 ***************************/
.headerComp1 {
    width : 24%;
    height : 100%;
}

.headerLogoText {
    cursor : pointer;
}
/*************************************************************/



/*************************** 검색, 베너 등 영역 ***************************/
.whatImg {
    width : 10%;
    height : 80%;
    cursor : pointer;
}

.mb-3 {
    display : inline-block;
    width : 80%;
}

.headerComp2 {
    width : 50%;
    height : 100%;
}

#categoryBtn >ul, li {
    text-align : center;
    list-style : none;
}
/*************************************************************************/



/*************************** 로그인, 회원가입 등 영역 ***************************/
.headerComp3 {
    width : 25%;
    height : 100%;
}

.kakaoLoginBtn {
    width : 80%;
}

.googleLoginBtn {

}

.loginBanner {
    display : inline-block;
    position : relative;
}

.loginBanner > span {
    display : inline-block;
    margin-top : 3px;
}

.kakaoLoginBtn {
    width : 110px;
    height : 33px;
    cursor : pointer;
}
/*****************************************************************************/


/*************************** 검색창 ***************************/
.form-control {
    width : 80%;
}

.searchBox {
    margin : auto;
}
/*************************************************************/