.displayNoneSet {
    display : none;
}

#layout1 {
    display : inline-block;
    background : red;
    height : 20%;
}

#layout2 {
    display : inline-block;
    background : blue;
    height : 20%;
}

#content {
    position : absolute;
    top : 16%;
}