<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카카오 지도 api</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=56890df0b42db89c1ce2298848552ff9&libraries=services,clusterer,drawing"></script>
    <link rel = "stylesheet" th:href = "@{ ~/css/common/commonCss.css }">
</head>
<body>
    <div id = "header" class = "header" th:include = "~{ commonTemplate/headerLayout.html :: commonHeader }" />
    <!-- header Layout -->
    <!-- body -->
    <div id="content">
        <div id="map" style="width:500px;height:400px;"></div>
        <button onclick="recommendMenu()">돌려 돌려 돌림판~!</button>
        <h3 id="menu"></h3>
    </div>
</body>
<script>
    var latitude; // 위도
    var longitude; // 경도
    var markerPosition; // 지도의 중심좌표 및 현 위치 마커가 표시될 위치
    var infowindow; // 마커 클릭시 장소명을 표출할 인포윈도우
    var map; //지도 생성
    var categoriesArr = []; // 음식 카테고리 배열
    var uniqCategories; // 음식 카테고리 중복제거
    var menu; // 당첨된 메뉴
    var markers = [];
    var cpData = []; // 검색된 모든 가게들 정보들 복사(api search return data)
    var market = []; // 오늘의 메뉴 판매하는 가게들

    // 사용자의 position을 가져오고 비동기방식으로 서버에 전달
    window.onload = function() {
        // 지리적 위치가 지원되는지 확인
        if (navigator.geolocation) {
            // 지원되는 경우 getCurrentPosition() 메서드를 실행, 메서드가 실행되면 매개변수(createMap)에 지정된 함수 실행.
            navigator.geolocation.getCurrentPosition(createMap);
        }
        // 지원되지 않는 경우 사용자에게 메시지 표시
        else {
            // 모바일에선 어떻게 해줄지 고민해봐야함(모달?)
            alert("위치정보를 허용해주세요!");
        }
    }

    // KAKAO MAP API로 지도 생성 및 본인 위치 마커 표시
    function createMap(position) {
        latitude = position.coords.latitude; // 위도
        longitude = position.coords.longitude; // 경도

        // 지도의 중심좌표 및 현 위치 마커가 표시될 위치
        markerPosition  = new kakao.maps.LatLng(latitude, longitude);

        // 마커 클릭시 장소명을 표출할 인포윈도우
        infowindow = new kakao.maps.InfoWindow({zIndex:1});

        //지도를 담을 영역의 DOM 레퍼런스
        var container = document.getElementById('map');

        //지도를 생성할 때 필요한 기본 옵션
        var options = {
            center: markerPosition, // 지도의 중심좌표
            level: 4, // 지도의 레벨(확대, 축소 정도) Up: zoom in, Down: zoom out
        };

        //지도 생성
        map = new kakao.maps.Map(container, options);

        // 장소 검색
        var places = new kakao.maps.services.Places(map);

        // 카테고리로 음식점을 검색
        places.categorySearch('FD6', placesSearchCB, {
            // useMapBounds: true,
            radius: 250, // 반경 250m
            location: new kakao.maps.LatLng(latitude,longitude)
        });

        // 현위치 마커이미지
        // TODO:이미지 경로 CONFIG에서 관리해주기
        var imageSrc = 'http://localhost:8000/images/position5.png';
        // 현위치 마커이미지의 크기
        var imageSize = new kakao.maps.Size(64,69);
        // 현위치 마커이미지의 옵션. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정
        var imageOption = {offset: new kakao.maps.Point(27,60)};

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

        // 현재 위치 마커 생성
        var marker = new kakao.maps.Marker({
            position: markerPosition, // 현재 위치 좌표
            image: markerImage // 마커이미지 설정
        });

        // 마커 클러스터러를 생성
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
            minLevel: 10, // 클러스터 할 최소 지도 레벨
            marker: marker // 지도에 표시할 마커
        });

        // 클러스터에 마커 추가
        clusterer.addMarker(marker);
    }

    // 카테고리 검색 완료 시 호출되는 콜백함수
    function placesSearchCB(data, status, pagination) {
        if(status === kakao.maps.services.Status.OK) {
            for(var i = 0; i < data.length; i++) {
                cpData.push(data[i]);
                displayMarker(data[i],"placesSearchCB");
            }
            pagination.nextPage();
        }
        if(!pagination.hasNextPage) {
            uniqCategories = new Set(categoriesArr); // 카테고리 중복제거
            // console.info(uniqCategories);
        }
    }

    // 지도에 마커를 표시하는 함수
    function displayMarker(place, key) {
        if(key == 'placesSearchCB') {
            var categoryName = place.category_name;
            // 검색된 가게(place)의 카테고리 추출
            try {
                categoryName = categoryName.split(">")[1].trim();
                categoriesArr.push(categoryName);
            } catch {
                // console.warn('>>>>예외 발생: split()');
            }
        } else if (key == 'recommendMenu'){
                // 마커를 생성하고 지도에 표시
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                // 마커에 클릭이벤트를 등록
                kakao.maps.event.addListener(marker, 'click', function() {
                    // 마커를 클릭하면 장소명이 인포윈도우에 표출
                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                    infowindow.open(map, marker);
                });

                markers.push(marker);
        }

    }

    // 메뉴 추천해주는 함수
    function recommendMenu() {
        removeMarker(); // 기존 마커 제거
        infowindow.close(); // 인포윈도우 초기화
        setTimeout( () => { // removeMarker() 비동기 대기 시간을 위한 setTimeout()
            var random = Math.floor(Math.random() * uniqCategories.size);
            menu = Array.from(uniqCategories)[random];
            console.log("오늘의 메뉴~\n" + menu);

            // 오늘의 메뉴 판매하는 가게들 push
            for (var i = 0; i < cpData.length; i++) {
                if(cpData[i].category_name.includes(menu)) {
                    market.push(cpData[i]);
                }
            }

            // 오늘의 메뉴 판매하는 가게들 마커찍기
            for (var i = 0; i < market.length; i++) {
                displayMarker(market[i], "recommendMenu");
            }

            // 메뉴 알려주기
            $('#menu').html(menu);
            alert("오늘의 메뉴쓰~\n\t[" + menu + "]\t");
        }, 100);
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
            // market[i].setMap(null);
        }
        markers = [];
        market = [];
    }


</script>
</html>